<p> quote:&nbsp;<i style="color:red;"><u> "{{quote.description}}"</u></i> <br> <br /> name:&nbsp; <i class="btn-success" >{{quote.author}} </i></p>
<p>This quote will be completed in <kbd>{{quote.completeDate|dateCount}} days</kbd></p>

    <p class="button btn btn-danger" id="minus">downvote</p>&nbsp;
    <p id="count" class="button btn btn-primary">0</p>&nbsp;
    <p class="button btn btn-success" id="plus">upvote</p>&nbsp;
    <p class="btn btn-danger" (click) = 'goalDelete(true)'> Delete Goal </p>
